SpeedSharkWeb/Service References/SessionServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionService_insertSession_InputMessage">
    <wsdl:part name="parameters" element="tns:insertSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_insertSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_updateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_updateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getSession_InputMessage">
    <wsdl:part name="parameters" element="tns:getSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:getSessions" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getOngoingSessions_InputMessage">
    <wsdl:part name="parameters" element="tns:getOngoingSessions" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getOngoingSessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOngoingSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getMaxId_InputMessage">
    <wsdl:part name="parameters" element="tns:getMaxId" />
  </wsdl:message>
  <wsdl:message name="ISessionService_getMaxId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMaxIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISessionService">
    <wsdl:operation name="insertSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/insertSession" message="tns:ISessionService_insertSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/insertSessionResponse" message="tns:ISessionService_insertSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/updateSession" message="tns:ISessionService_updateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/updateSessionResponse" message="tns:ISessionService_updateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/getSession" message="tns:ISessionService_getSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/getSessionResponse" message="tns:ISessionService_getSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/getSessions" message="tns:ISessionService_getSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/getSessionsResponse" message="tns:ISessionService_getSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOngoingSessions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/getOngoingSessions" message="tns:ISessionService_getOngoingSessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/getOngoingSessionsResponse" message="tns:ISessionService_getOngoingSessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMaxId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/getMaxId" message="tns:ISessionService_getMaxId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/getMaxIdResponse" message="tns:ISessionService_getMaxId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISessionService" type="tns:ISessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/insertSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/updateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/getSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessions">
      <soap:operation soapAction="http://tempuri.org/ISessionService/getSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOngoingSessions">
      <soap:operation soapAction="http://tempuri.org/ISessionService/getOngoingSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxId">
      <soap:operation soapAction="http://tempuri.org/ISessionService/getMaxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="BasicHttpBinding_ISessionService" binding="tns:BasicHttpBinding_ISessionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/SessionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>