SpeedSharkWeb/Service References/TruckServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TruckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITruckService_insertTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:insertTruck" />
  </wsdl:message>
  <wsdl:message name="ITruckService_insertTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertTruckResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTruck" />
  </wsdl:message>
  <wsdl:message name="ITruckService_updateTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTruckResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getTruck_InputMessage">
    <wsdl:part name="parameters" element="tns:getTruck" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getTruck_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTruckResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:getTrucks" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getFunctionalTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:getFunctionalTrucks" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getFunctionalTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFunctionalTrucksResponse" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAvailableTrucks_InputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableTrucks" />
  </wsdl:message>
  <wsdl:message name="ITruckService_getAvailableTrucks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableTrucksResponse" />
  </wsdl:message>
  <wsdl:portType name="ITruckService">
    <wsdl:operation name="insertTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/insertTruck" message="tns:ITruckService_insertTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/insertTruckResponse" message="tns:ITruckService_insertTruck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/updateTruck" message="tns:ITruckService_updateTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/updateTruckResponse" message="tns:ITruckService_updateTruck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTruck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getTruck" message="tns:ITruckService_getTruck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getTruckResponse" message="tns:ITruckService_getTruck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getTrucks" message="tns:ITruckService_getTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getTrucksResponse" message="tns:ITruckService_getTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFunctionalTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getFunctionalTrucks" message="tns:ITruckService_getFunctionalTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getFunctionalTrucksResponse" message="tns:ITruckService_getFunctionalTrucks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableTrucks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruckService/getAvailableTrucks" message="tns:ITruckService_getAvailableTrucks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruckService/getAvailableTrucksResponse" message="tns:ITruckService_getAvailableTrucks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITruckService" type="tns:ITruckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertTruck">
      <soap:operation soapAction="http://tempuri.org/ITruckService/insertTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTruck">
      <soap:operation soapAction="http://tempuri.org/ITruckService/updateTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTruck">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrucks">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFunctionalTrucks">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getFunctionalTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableTrucks">
      <soap:operation soapAction="http://tempuri.org/ITruckService/getAvailableTrucks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TruckService">
    <wsdl:port name="BasicHttpBinding_ITruckService" binding="tns:BasicHttpBinding_ITruckService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SpeedSharkWCF/TruckService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>