SpeedSharkWeb/Service References/TruckServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" />
  <xs:element name="insertTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTruckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="truckId" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTruckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="truckId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" minOccurs="0" name="getTruckResult" nillable="true" type="q1:Truck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" minOccurs="0" name="getTrucksResult" nillable="true" type="q2:ArrayOfTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFunctionalTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFunctionalTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" minOccurs="0" name="getFunctionalTrucksResult" nillable="true" type="q3:ArrayOfTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" minOccurs="0" name="getAvailableTrucksResult" nillable="true" type="q4:ArrayOfTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>