SpeedSharkWeb/Service References/TruckServiceReference/SpeedSharkWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Truck">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Truck" nillable="true" type="tns:Truck" />
  <xs:complexType name="ArrayOfTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Truck" nillable="true" type="tns:Truck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTruck" nillable="true" type="tns:ArrayOfTruck" />
</xs:schema>