SpeedSharkWeb/Service References/CargoServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" />
  <xs:element name="insertCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weight" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" minOccurs="0" name="getCargoResult" nillable="true" type="q1:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargoId" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCargoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCargoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" minOccurs="0" name="getCargoesResult" nillable="true" type="q2:ArrayOfCargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>