SpeedSharkWeb/Service References/CargoServiceReference/SpeedSharkWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpeedSharkWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoId" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cargo" nillable="true" type="tns:Cargo" />
  <xs:complexType name="ArrayOfCargo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cargo" nillable="true" type="tns:Cargo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargo" nillable="true" type="tns:ArrayOfCargo" />
</xs:schema>